<div class="container-fluid h-100">
  <div class="row h-100">
    <div class="col-lg-6 my-auto">
      <div class="jumbotron auth-box lfa-footer pt-5 pb-4 animated fadeInLeft">

        <h1 class="font-montserrat display-4 mb-1 text-center text-lg-left">{{ (success) ? 'Request Submitted' : 'Forget Password' }}</h1>

        <span class="font-montserrat text-muted d-block text-center text-lg-left" *ngIf="!success && !status">Enter your username to reset password.</span>
        <span class="font-montserrat text-muted d-block text-center text-lg-left" *ngIf="!success && status && status == 'token-invalid'">Your token is invalid. Please submit your request again.</span>
        <span class="font-montserrat text-muted d-block text-center text-lg-left" *ngIf="!success && status && status == 'token-expired'">Your password request has expired. Please submit your request again.</span>

        <span class="font-montserrat text-danger d-block text-center text-lg-left" *ngIf="!success && status && status == 'request-timeout'">The connection timeout. Please submit your request again.</span>
        <span class="font-montserrat text-danger d-block text-center text-lg-left" *ngIf="!success && status && status == 'unexpected-error'">An unexpected error has occured. Please submit your request again.</span>

        <span class="font-montserrat text-muted d-block text-center text-lg-left" *ngIf="success">Please check your email for instructions to reset your password.</span>

        <form class="text-center text-lg-left" [formGroup]="authForm" (ngSubmit)="authForm.valid && forgetPassword()">
          <mat-form-field appearance="outline" class="w-100">
            <mat-icon matPrefix>face</mat-icon>

            <mat-label>LFA Username</mat-label>

            <input matInput #usernameInput type="text" placeholder="type your username here..." formControlName="username" maxlength="128" tabindex="1" class="text-lowercase" autocomplete="username">

            <button type="button" mat-button *ngIf="username.value && !username.disabled && !success" matSuffix mat-icon-button aria-label="Clear" (click)="username.setValue('');username.markAsPristine();username.markAsUntouched();">
              <mat-icon>close</mat-icon>
            </button>

            <button type="button" mat-button *ngIf="success" matSuffix mat-icon-button aria-label="Success" disabled>
              <mat-icon>done</mat-icon>
            </button>

            <mat-hint align="start">@legacyfa-asia.com</mat-hint>
            <mat-hint align="end" class="d-none d-sm-inline-block">{{username.value.length}} / 128</mat-hint>
            <mat-error *ngIf="(username.touched || username.dirty) && username.invalid">Valid: <u>username</u>@legacyfa-asia.com</mat-error>
          </mat-form-field>

          <button type="submit" mat-flat-button color="primary" tabindex="3" class="btn-submit mb-2 mb-lg-4" [disabled]="processing || authForm.invalid" *ngIf="!success">
            <mat-spinner class="d-inline-block" *ngIf="processing"></mat-spinner> {{(processing)?'Processing...':'Reset Password'}}
          </button>

          <a class="login-button font-montserrat d-block d-lg-inline-block" [routerLink]="['/auth/login']" [queryParams]="{username: (username.value || null)}" *ngIf="!success">Back to login page</a>
          <button type="button" mat-flat-button color="primary" tabindex="3" class="btn-submit mb-2 mb-lg-4" *ngIf="success" [routerLink]="['/auth/login']" [queryParams]="{username: (username.value || null)}">Back to login page</button>
        </form>

        <hr class="mt-4">

        <p class="mb-0 font-montserrat text-center text-lg-left">Copyright &copy; 2019 Legacy FA Pte Ltd. <span class="d-none d-sm-inline-block">All Rights Reserved.</span></p>
        <p class="mb-0 font-montserrat text-center text-lg-left"><a>Terms of Use</a> | <a>Privacy Policy</a></p>


        <svg class="carousel-parent-shape" width="1216px" height="625px" viewBox="0 0 1216 625" preserveAspectRatio="none">
          <path fill-rule="evenodd" d="M-0.000,311.382 C-0.000,311.382 62.999,372.037 102.727,273.078 C118.498,233.793 168.280,306.657 186.342,249.138 C203.245,195.310 231.848,195.447 246.067,143.801 C266.856,68.285 291.661,3.867 310.569,0.159 C341.089,-5.826 374.891,182.287 422.852,134.224 C468.160,88.821 511.245,170.842 535.135,177.317 C545.468,180.117 579.312,194.321 613.972,189.287 C635.941,186.097 655.397,155.251 678.475,172.529 C726.537,208.512 730.880,342.989 781.202,397.567 C807.168,425.730 831.757,373.189 862.428,356.869 C890.078,342.156 923.937,365.255 946.043,356.869 C975.409,345.727 998.875,341.716 1015.324,294.624 C1027.442,259.931 1032.880,184.101 1048.770,155.771 C1068.789,120.077 1110.838,156.070 1129.996,129.436 C1169.461,74.571 1216.000,43.251 1216.000,43.251 L1216.000,624.999 L-0.000,624.999 L-0.000,311.382 Z"></path>
        </svg>
      </div>
    </div>
  </div>
</div>